/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30.1.2019, 23:57:40
    Author     : Sampo
*/

/*GENERAL STYLE*/
body {
    margin: 0px;
    padding: 0px;
}

html,
body,
#mymap {
    height: 100%;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.leaflet-left .leaflet-control {
    margin-left: 13px;
}

.leaflet-container .leaflet-control-zoom {
    margin-left: 13px;
    margin-top: 70px;
}

.leaflet-bottom .leaflet-control {
    margin-bottom: 5px;
}

.leaflet-popup-content-wrapper {
    font-family: 'Montserrat', sans-serif;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    font-family: 'Montserrat', sans-serif;
}

.leaflet-popup-tip-container {
    font-family: 'Montserrat', sans-serif;
}

.control-label col-sm-5 {
    font-family: 'Montserrat', sans-serif;
}


/*LAYER CONTROL STYLE*/
.leaflet-control-layers-toggle{
    width: auto;
    background-position:3px 50% ;
    background-size: 20px 20px;
    text-decoration: none;
    line-height:36px;
}

.leaflet-control-layers:hover {
    font-family: 'Montserrat', sans-serif;
    background: white;
}

#controlTitle1 {
    margin-top: -2px;
    margin-bottom: 4px;
}

#controlTitle2 {
    margin-top: -2px;
    margin-bottom: 2px;
}


/*MAP VIEW PROPERTIES*/
/*#mymap {
    position: relative;
    width: 100.0%;
    height: 100.0%;
    left: 0.0%;
    top: 0.0%;
}*/

#mymap {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    float: left;
}


/*INFO HEADER STYLE*/
.infoheader {
    z-index: 2;
    width: 210px;
    position: absolute;
    left: 0%;
    padding: 10px 20px;
    background: lightgrey;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

.infoheader p {
    margin: 0 0 5px;
    font-size: 14px;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 0px;
    color: black;
}

.infoheader h1 {
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 15px;
    margin-bottom: 0px;
    margin-left: 14px;
    margin-top: 0px;
}


/*INFOBOX AND INFOTEXT STYLE*/
.infobox {
    position: absolute;
    width: 400px;
    padding: 6px 8px;
    font-family: 'Montserrat', sans-serif;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    border:1px solid grey;
}

.infobox p {
    line-height: 600%;
}

.infotext p {
    font-size: small;
}

/*FORM-GROUP LIKERT AND RADIO BUTTONS STYLE*/
.likert li {
    margin-top: 11px;
    list-style-type: none;
    vertical-align: middle;
}

.likert li:hover{
    background-color: #dfd;    
}

.likert li:checked + label{
    background-color:#bfb;
    border-color: #4c4;
}

input[type="radio"]{
    width: 20px;
    height: 20px;
    margin-top: -1px;
    vertical-align: top;
}


.form-group {
    font-size: 10pt;
    margin-top: 5px;
    margin-bottom: 20px;
}

input {
    margin-top: 5px;
}

ul {
    margin-top: -1px;
}

.parkspotcolumn {
    margin-top: 5px;
}

#parkspot {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

#parktime {
    font-size: 18px;
    width: 100%;
}

select option {
    font-size: 13pt;
    font-family: 'Montserrat', sans-serif;
}

button {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #4CAF50; /* Green */
    color: black;
}

button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

input[type="datetime-local"]{
    font-size: 13pt;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

input[type="number"]{
    font-size: 13pt;
    font-family: 'Montserrat', sans-serif;
}


/*HTML CLOSE BUTTON STYLE*/
#close {
    float:right;
    font-size: 20px;
    display:inline-block;
    padding:5px 5px;
    background: rgba(255, 255, 255, 0.0);
    cursor: pointer;
}

#close:hover {
    float:right;
    display:inline-block;
    padding:5px 5px;
    background:#ccc;
    color:#fff;
    cursor: pointer;
}


/*MAKE TEXT IN MAP JUSTIFIED*/
/*div {
  text-align: justify;
}*/

/*div:after {
  content: "";
  display: inline-block;
  width: 100%;
}*/